body {
    background-color: rgb(223, 145, 219);
    color: rgb(0, 0, 0);


    color: rgb(0, 0, 0);

    font-family: "Fugaz One", sans-serif;
    margin: 0px;
}


header {
    font-size: 50px;
    text-align: center;
    border-bottom: dashed 5px rgb(255, 255, 255);
    padding: 30px;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 30px;
    padding-left: 30px;
}

p {
    font-size: 20px;
    padding-left: 30px;
}

section{
    background-color: rgb(206, 95, 187);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}

.chamada-texto{
    margin-right: 10%;
}